html {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #d7d7d7;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        background: #fff;
    }

    ::-webkit-scrollbar-thumb:vertical {
        background: #d7d7d7;
    }
}

.theme-container {
    ::-webkit-scrollbar {
        display: none;
    }
}

.right-anchor {
    max-width: 12.5rem;

    ::-webkit-scrollbar {
        display: none;
    }
}

.theme-default-content {
    ::-webkit-scrollbar {
        display: block;
    }

    margin: 0 !important;
    padding: 2rem 14rem 2rem 6rem !important;
}

.page-edit, .page-nav {
    padding: 2rem 14rem 2rem 6rem !important;
}

@media screen and (max-width: 1200px) {
    .theme-default-content {
        ::-webkit-scrollbar {
            display: block;
        }

        margin: 0 !important;
        padding: 2rem 2.5rem !important;
    }

    .page-edit, .page-nav {
        padding: 2rem 2.5rem !important;
    }

    .right-anchor {
        display: none !important;
    }
}

@media screen and (max-width: $MQNarrow) {
    .theme-default-content {
        ::-webkit-scrollbar {
            display: block;
        }

        margin: 0 !important;
        padding: 2rem !important;
    }

    .page-edit, .page-nav {
        padding: 2rem !important;
    }

    .right-anchor {
        display: none !important;
    }
}

@media screen and (max-width: $MQMobileNarrow) {
    .theme-default-content {
        ::-webkit-scrollbar {
            display: block;
        }

        margin: 0 !important;
        padding: 1.5rem !important;
    }

    .page-edit, .page-nav {
        padding: 1.5rem !important;
    }

    .right-anchor {
        display: none !important;
    }
}